@{
    ViewData["Title"] = "Home Page";

}
@model PagedData<Product>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

@foreach (var item in Model.Data)
{
    @Html.Partial("ProductSummary",item)
}
<div page-model="Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="" page-class-selected="btn-success"></div>
</div>
